# Wallet derivation
APP_SECRET_SALT=WAYLEARN
APP_SIGNER=
# Faucet
FAUCET_PROGRAM_ID=CozaAtw4wmRh1WT2zeLTu6jWYgrJotB7TRYdZZbusBNK
# PDAs
PDA_CONFIG=DLHpgJ7yJhTB28WkAeru7EexeSPsbxriWM6h86rTVRF3
PDA_VAULT=4cbC12KPYk7PcamVGNBAqSrvHoxSV7Y3wyAzt9DU9KcQ

# Integrations
# Discord
APPLICATION_ID=
WAYLEARN_BOT_TOKEN=